<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./vendor/autoload.php"
        cacheTokens="true"
        colors="true"
        convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
        stopOnFailure="false"
        verbose="false">
    <testsuites>
        <testsuite name="Test Create User App">
            <directory>./src</directory>
        </testsuite>
    </testsuites>
</phpunit>
